{% extends 'Application/Layout/base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="ep-top-40">
                Results for "{{results.description}}"
            </h3>
        </div>
    </div>
    <div class="row">
        <h5>
            Completed?
        </h5><br/>
        {{results.complete}}
    </div>
    <div class="row">
        <h5>
            Created
        </h5>
    </div>
    <div class="row">
        <p id="dateC">{{results.created}}</p>
        <script>
          var dc = new Date({{results.created}} * 1000);
          console.log(dc);
          document.getElementById("dateC").innerHTML = dc.toUTCString();
        </script>            
    </div>
    <div class="row">
        <h5>
            Last Updated
        </h5>
    </div>
    <div class="row">
        <p id="dateR">{{results.updated}}</p>
        <script>
          var du = new Date({{results.updated}} * 1000);
          console.log(dc);
          document.getElementById("dateR").innerHTML = dc.toUTCString();
        </script>
    </div>
    <div class="row">
        <h5>
            Start Date
        </h5>
    </div>
    <div class="row">
        <p id="dateS">{{results.start_date_time}}</p>
        <script>
          var dst = new Date({{results.start_date_time}} * 1000);
          console.log(dst);
          document.getElementById("dateS").innerHTML = dst.toUTCString();
        </script>
    </div>
    <div class="row">
        <h5>
            End Date
        </h5>
    </div>
    <div class="row">
        <p id="dateE">{{results.end_date_time}}</p>
        <script>
          var det = new Date({{results.end_date_time}} * 1000);
          console.log(det);
          document.getElementById("dateE").innerHTML = det.toUTCString();
        </script>
    </div>
    <div class="row">
        <h5>Completed?</h5>
    </div>
    <div class="row">
        {% if ('results.complete' == 1) %}
            <p>Yes</p>
            {%elseif ('results.complete' == 0) %}
                <p>No</p>
        {%endif%}
        
    </div>
    <div class="row">
        {{dump(results)}}
    </div>
</div>
{%endblock%}
{# empty Twig template #}
