<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Task Manager{% endblock %}</title>
        <meta name="viewport"       content="width=device-width" />
        <meta name="theme-color" content="#000">
        <link rel="icon" 
              type="image/x-icon" 
              href="{{ asset('images/icons/favicon.ico') }}" />
        <link rel="apple-touch-icon" 
              sizes="76x76" 
              href="{{ asset('images/icons/icon-logo-76x76.png') }}">
        <link rel="apple-touch-icon" 
              sizes="76x76" 
              href="{{ asset('images/icons/icon-logo-120x120.png') }}">
        <link rel="apple-touch-icon" 
              sizes="76x76" 
              href="{{ asset('images/icons/icon-logo-152x152.png') }}">
        {% block stylesheets %}
            <link rel="stylesheet" 
                  type="text/css" 
                  href="{{ asset('css/Bootstrap4.0/bootstrap.min.css') }}">
            <link rel="stylesheet" 
                  type="text/css" 
                  href="{{ asset('css/Web/site.css') }}">
            <link rel="stylesheet"
                  type="text/css"
                  href="{{ asset('css/font-awesome.min.css') }}"
        {% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('f161.ico') }}" />
    </head>
    <body>
        {% include 'Web/Layout/navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'Web/Modals/login.html.twig' %}
        {% include 'Web/Modals/register.html.twig' %}
        {% block javascripts %}
          <script src="js/jquery.min.js"></script>
          <script src="js/bootstrap.min.js"></script>  
        {% endblock %}
    </body>
</html>