<div class="col-md-12 ep-top-20">
    <div class="header">
        Tasks
    </div>
    <div class="content">
        <div class="table-full-width">
            <table class="table" id="tableTasks">
                <thead>
                    <th style="width:75%">
                        Descriptions
                    </th>
                    <th class="text-center">
                        Points
                    </th>
                    <th class="text-right">
                        Actions
                    </th>
                </thead>
                <tbody>
{% if tasks is defined and tasks is not empty %}                        
    {% for task in tasks %}
                    <tr id="tasks-tr-{{ task.id}}">
                        <td>{{ task.description }}</td>
                        <td class="text-center">{{ task.value}}</td>
                        <td class="td-actions text-right">
                            <div class="hidden-lg-up text-center">
                                <button type="button"  data-toggle="collapse" data-target=".task-{{ task.id }}" class="btn btn-secondary btn-simple btn-sm btn-tasks">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="hidden-md-down">
                                <button type="button" 
                                        onclick="editTask({{ task.id }});"
                                        rel="tooltip" 
                                        title="Edit" 
                                        class="btn btn-info btn-simple btn-sm btn-tasks">
                                    <i class="fa fa-pencil" 
                                       aria-hidden="true"></i>
                                </button>
                                <button type="button" 
                                        onclick="taskComp();"
                                        rel="tooltip" 
                                        title="Complete" 
                                        class="btn btn-success btn-simple btn-sm btn-tasks">
                                    <i class="fa fa-check" 
                                       aria-hidden="true"></i>
                                </button>
                                <button type="button" 
                                        onclick="deleteTask({{ task.id }});"
                                        rel="tooltip" 
                                        title="Remove" 
                                        class="btn btn-danger btn-simple btn-sm btn-tasks">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr id="tasks-tr-m-{{ task.id }}" class="hidden-lg-up">
                        <td colspan="3" style="border-top:none">
                            <div class="navbar-collapse collapse task-{{ task.id }}">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <button type="button" 
                                                onclick="editTask({{ task.id }});"
                                                rel="tooltip" 
                                                title="Edit" 
                                                class="btn btn-info btn-simple btn-block">
                                            <i class="fa fa-pencil" 
                                               aria-hidden="true"></i>
                                            Edit
                                        </button>
                                    </li>
                                    <li class="nav-item" style="padding-top:10px">
                                        <button type="button" 
                                                onclick="completeTask({{ task.id }});"
                                                rel="tooltip" 
                                                title="Complete" 
                                                class="btn btn-success btn-simple btn-block">
                                            <i class="fa fa-check" 
                                               aria-hidden="true"></i>
                                            Complete
                                        </button>
                                    </li>
                                    <li class="nav-item" style="padding-top:10px">    
                                        <button type="button" 
                                                onclick="deleteTask({{ task.id }});"
                                                rel="tooltip" 
                                                title="Remove" 
                                                class="btn btn-danger btn-simple btn-block">
                                            <i class="fa fa-times"></i>
                                            Delete
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
    {% endfor %}
{% endif %}
                </tbody>
            </table>
        </div>
        <a href="#" id="btn_add_task" class="btn btn-block btn-success">
            Add New Task!
        </a>    
        <div class="footer">
            <hr>
            <div class="stats">
                <i class="fa fa-history"></i> Updated Just Now
            </div>
        </div>
        </div> 
    </div>
</div>
<div class="fixed-bottom">
    <div class="popup" id="myPopup" onclick="taskComp();">
      <span class="popuptext" >Congratulations! You have completed
      "Insert Task Name"!</span>
    </div>
</div>

{% include 'Application/Tasks/Modals/add.html.twig' %}
<script src="{{ asset('/js/Application/tasks.js') }}"></script>