<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="ep-top-40">
                Task: {{results.id}}
            </h1>
            <h3 class="ep-top-40">
                {{results.description}}
            </h3>
            <strong>Solution:</strong>
            <em>{{results.solution}}</em><br/>            
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover table-striped table-dark">
                <thead>
                    <th>
                        Created
                    </th>
                    <th>
                        Last Updated
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        End Date
                    </th>
                    <th>
                        Complete
                    </th>
                </thead>
                <tbody>
                    <td>
                        {{results.created}}
                    </td>
                    <td>
                        {{results.updated}}
                    </td>
                    <td>
                        {{results.start_date_time}}
                    </td>
                    <td>
                        {{results.end_date_time}}
                    </td>
                    <td>
                    {% if ('results.complete' == 1) %}
                        Yes
                    {% elseif ('results.complete' == 0) %}
                        No
                    {% endif %}
                    </td>
                </tbody>
            </table>
        </div>
    <div class="row">
        <h4 class="ep-top-20">
            Steps or Sub Tasks
        </h4>
        <div id ="steps_table" class="col-12">
            <table class="table table-hover table-striped table-dark">
                {%for step in steps%}
                <thead>
                    <th>
                        Step
                    </th>                    
                    <th>
                        Complete
                    </th>
                </thead>
                
                <tbody id="step_info">   
                    
                        <tr>
                            <td>{{step.step_description}}</td>
                            <td> {% if ('step.complete' == 1) %}
                                Yes
                            {%elseif ('step.complete' == 0) %}
                                No
                            {%endif%}
                            </td> 
                            <td>
                                <button onclick="completeStep({{step.id}});">Complete</button>
                            </td>
                    {%endfor%}
                        </tr>
                </tbody>
                
            </table>
        </div>
    </div>
    <div class="col-md-8">
        <form class="form" id="form_add_step">
            <input type="hidden" name="task_id" id="task_id" value="{{ results.id }}">
            <div>
                <textarea 
                       rows="2"
                       class="form-control" 
                       style="width:100%;"
                       name="step"
                       id="step" 
                       placeholder="step 1"></textarea>
                <button type="submit" 
                        style="width:100%; margin-top:5px"
                        class="btn btn-default">
                    Add Step
                </button>
            </div>
        </form>
    </div>
</div>
        