<div class="tab-content" id="tab_content">
    {% for category in tasks %}
    <div id="{{category.id}}" class="tab-pane fade{% if loop.first %} show active{% endif %}" role="tabpanel">
        <table class="table table-striped" id="table_tasks_{{category.id}}">
            <thead>
                <th style="width:75%">
                    Descriptions
                </th>
                <th class="text-right">
                    Actions
                </th>
            </thead>
            <tbody>
        {% for task in category.tasks %}
                <tr id="tasks-tr-{{ task.id}}">
                    <td><a href="application/task/{{ task.id }}" title="View Task Details">{{ task.description }}</a></td>
                    <td class="td-actions text-right">
                        <div class="d-lg-none text-center">
                            <button type="button"  data-toggle="collapse" data-target=".task-{{ task.id }}" class="btn btn-secondary btn-simple btn-sm btn-tasks">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="d-none d-lg-block">
                            <button type="button" 
                                    onclick="completeTask({{ task.id }});"
                                    rel="tooltip" 
                                    title="Complete" 
                                    class="btn btn-success btn-simple btn-sm btn-tasks">
                                <i class="fas fa-check"></i>
                            </button>
                            <button type="button" 
                                    onclick="deleteTask({{ task.id }});"
                                    rel="tooltip" 
                                    title="Remove" 
                                    class="btn btn-danger btn-simple btn-sm btn-tasks">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr id="tasks-tr-m-{{ task.id }}" class="d-lg-none">
                    <td colspan="3" style="border-top:none">
                        <div class="navbar-collapse collapse task-{{ task.id }}">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item" style="padding-top:10px">
                                    <button type="button" 
                                            onclick="completeTask({{ task.id }});"
                                            rel="tooltip" 
                                            title="Complete" 
                                            class="btn btn-success btn-simple btn-block">
                                        <i class="fa fa-check"></i>
                                        Complete
                                    </button>
                                </li>
                                <li class="nav-item" style="padding-top:10px">    
                                    <button type="button" 
                                            onclick="deleteTask({{ task.id }});"
                                            rel="tooltip" 
                                            title="Remove" 
                                            class="btn btn-danger btn-simple btn-block">
                                        <i class="fa fa-trash"></i>
                                        Delete
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>