<nav class="navbar navbar-expand-md navbar-inverse" style="background-color:#000;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".categories" style="color:#fff; border-color:#343a40;">
        <i class="fas fa-bars"></i>
    </button> 
    <div class="navbar-collapse collapse categories">
        <ul class="navbar-nav nav nav-tabs" role="tablist">
            {% for category in tasks %}
            <li class="nav-item" id="category_tab_{{category.id}}">
                <a class="nav-link{% if loop.first %} active{% endif %}" 
                    data-toggle="tab"
                    data-target="#{{category.id}}"  
                    href="#{{category.id}}" 
                    role="tab"
                    aria-controls="{{category.id}}" 
                    aria-selected="{% if loop.first %}true{% else %}false{% endif %}">
                    {{category.category}} (<span id="tasks_category_id_{{category.id}}">{{category.tasks|length}}</span>)
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>